*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
  list-style: none;
}

body{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: wheat;
}

header{
  height: 10vh;
  background: #3d2b2b;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}
nav{
  height: 100%;
  width: 100%;
}
.mainNav{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navList{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

 .hideNav{
  height: 100%;
  width: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
  left: 2px;
  background-color: rgb(31, 25, 25);
  transition: width 0.4s ease, opacity 0.4s ease;
  opacity: 0;
}
 .hideNav.active {
  width: 200px;
  opacity: 1;
}
main{
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top:10vh;
  background-color: black;
}

.imageContainer{
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5px;
}

.img{
  height: 100px;
  width: 100px;
  margin: 2px;
  transition: transform 0.2s ease-in;
  cursor: pointer;
}
.img:hover{
  transform: scale(1.1);
}

.lightBox{
  display: none;
  height: 90vh;
  position: fixed;
  top: 10vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-items: center;
  background-color:rgb(68, 62, 62);
}
.bigimgContainer{
  height: 98%;
  width: 100%;
}
.BigIamge{
  height: 100%;
  width: 100%;
 object-fit: contain;
}

.lightBox button{
 height: auto;
 width: auto;
 border: none;
 background-color: rgb(68, 62, 62);
 margin: 2px;
}

.lightBox button span{
 font-size: 35px; 
 opacity: 30;
 color: #000000;
 transition: transform 0.1ms ease-in;
}

.lightBox button span:active{
  transform: scale(0.0);
}


#cut{
position: fixed;
top: 10vh;
right: 10px;
}
#prev{
  position: fixed;
  bottom: 1vh;
  left: 2vw;
}
#next{
  position:fixed;
  bottom: 1vh;
  right: 2vw;
}

@media (min-width: 768px){

  
header{
  height: 15vh;
}
 .img{
  height: 300px;
  width: 300px;
  margin: 3px;
  transition: transform 0.7s ease-in;
}
.img:hover{
  transform: scale(1.1);
}
.lightBox{
  top:15vh;
}
.lightBox button span{
  font-size: 60px;
}

.lightBox button{
  height: 60px;
  width: 60px;
  border: none;
  margin: 2px;
  box-shadow: none;
}
#cut{
  top: 16vh;
}
#prev{
  bottom: unset;
}
#next{
  bottom: unset;
}
}