*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
  list-style: none;
}

body{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: wheat;
}

header{
  height: 10vh;
  background: #3d2b2b;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}
nav{
  height: 100%;
  width: 100%;
}
.mainNav{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navList{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

 .hideNav{
  height: 100%;
  width: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
  left: 2px;
  background-color: rgb(31, 25, 25);
  transition: width 0.4s ease, opacity 0.4s ease;
  opacity: 0;
}
 .hideNav.active {
  width: 200px;
  opacity: 1;
}
main{
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top:10vh;
  background-color: black;
}
main h1{
  height: auto;
}
.imageContainer{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5px;
}

.img{
  height: 100px;
  width: 100px;
  margin: 2px;
  transition: scale 0.7s ease-in;
}
.img:hover{
  transform: scale(1.1);
}

.lightBox{
  display: none;
  height: 90vh;
  position: fixed;
  top: 10vh;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.bigimgContainer{
  height: 100%;
  width: 90%;
  background-color: black;
  z-index: 50;
}
.BigIamge{
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
  border: none;
}

.lightBox button{
  height: 30px;
  width: 30px;
  border: none;
  margin: 2px;
}

.lightBox button span{
  background-color: black;
  border: none;
  color: white;
  font-size: 30px;
}
#cut{
  position: fixed;
  top: 10vh;
  right: 5px;
}
