*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;  
}
a{
  text-decoration: none;
}
body{
  height: auto;
  width: 100%;
  background-color: black;
  color: white;
}

header{
  height: 10vh;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 50;
  background-color: black;
}

nav{
  height: 100%;
  width: 100%;
}
nav ul{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  font-weight: 500;
  text-shadow: 0px 0px 2px white;
}
.imageInformation{
  height: auto;
  width: auto;
  display: block;
  justify-self: center;
  margin-bottom: 10px;
  position: fixed;
  color: rgb(255, 166, 0);
}
main{
  height: 100vh;
  width: 100%;
  position: relative;
  top: 9vh;
}

.container{
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  top: 2vh;
  background-color: black;
}

.imageArea{
  height: 100px;
  width: 100px;
  margin: 2px;
  transition: all,0.3s ease;
  object-fit:cover;
}
.imageArea:hover{
 transform: scale(1.1);
}
img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}


.lightBox{
  position: fixed;
  top: 10vh;
  height: 90vh;
  width: 100%;
  display:none;
  align-items: center;
  background-color: rgb(0, 0, 0);
  z-index: 60;
  justify-content:center;
  padding: 2px;
}

.button{
  height: auto;
  width: 5%;
  background-color: black;
  color: wheat;
  border: none;
}

#buttoncut{
  position: fixed;
  top: 20px;
  right: 5px;
}

.bigImg{
  height: 98%;
  width: 90%;
}

